body {
  background-color: #E6FFF1;
  font-family: sans-serif;
}
h2 {
  font-weight: bold;
}
.Header {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
.Education {
  
}